---
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Typography from "@components/Typography";
import CollectionContainer from "@components/CollectionGroup/CollectionContainer";

const handle = Astro.params.handle;
---

<Layout
  title={handle ? handle : "handle not found"}
  description="collection product"
>
  <Navbar />
  <main class="mx-auto max-w-2xl px-4 py-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <Typography tag="h1" size="h3/semi-bold">Collections</Typography>
    <CollectionContainer handle={handle} client:load />
  </main>
  <Footer />
</Layout>
