---
import Button from "@components/Button";
import Typography from "@components/Typography";
import { introSection } from "content";
---

<section aria-labelledby="social-impact-heading" class="mx-auto max-w-7xl px-4">
  <div class="relative overflow-hidden rounded-lg">
    <div class="absolute inset-0">
      <img
        src={"/images/engineer.jpg"}
        alt=""
        class="h-full w-full object-cover object-center"
      />
    </div>
    <div
      class="relative bg-gray-900 bg-opacity-75 px-6 py-32 sm:px-12 sm:py-40 lg:px-16"
    >
      <div
        class="relative mx-auto flex max-w-3xl flex-col items-center text-center"
      >
        <Typography
          id="social-impact-heading"
          size="h3/bold"
          tag="h3"
          className="tracking-tight text-white "
        >
          {introSection.heading}
        </Typography>
        <Typography size="subheading/normal" className="mt-3 text-white">
          {introSection.description}
        </Typography>

        <Button link="#" className="!bg-white !text-primary-900 !w-fit mt-8">
          Join as a manufacturers
        </Button>
      </div>
    </div>
  </div>
</section>
