---
import { Picture } from "@astrojs/image/components";
import Typography from "@components/Typography";
---

<section aria-labelledby="social-impact-heading" class="mx-auto max-w-7xl px-4">
  <div class="relative overflow-hidden rounded-lg">
    <div class="absolute inset-0">
      <Picture
        src={"/images/engineer.jpg"}
        alt=""
        class="h-full w-full object-cover object-center"
        widths={[400, 800, 1200]}
        aspectRatio={16 / 9}
        formats={["avif", "webp"]}
      />
    </div>
    <div
      class="relative bg-gray-900 bg-opacity-75 px-6 py-32 sm:px-12 sm:py-40 lg:px-16"
    >
      <div
        class="relative mx-auto flex max-w-3xl flex-col items-center text-center"
      >
        <Typography
          id="social-impact-heading"
          size="h3/bold"
          tag="h3"
          className="tracking-tight text-white "
        >
          <span class="block sm:inline">A global platform for</span>
          <span class="block sm:inline">local making</span>
        </Typography>
        <Typography size="subheading/normal" className="mt-3 text-white">
          Curiosta is an online marketplace that hosts independently designed
          furniture and connects its customers to local makers around the world.
          Rather than mass manufacturing and shipping worldwide, we’re building
          a distributed and ethical supply chain through a global maker network.
        </Typography>
        <a
          href="#"
          class="mt-8 block w-full rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-gray-900 hover:bg-gray-100 sm:w-auto"
          >Shop Workspace</a
        >
      </div>
    </div>
  </div>
</section>
