---
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import CartSection from "@section/CartSection";
import OrderSection from "@section/OrderSection";
---

<Layout title="cart" description="cart page">
  <Navbar />
  <main class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h1
        class="text-3xl mt-8 font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Shopping Cart
      </h1>
      <div
        class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
      >
        <CartSection client:load />
        <!-- Order summary -->
        <OrderSection client:load />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
