---
import Layout from "@layouts/Layout.astro";
import Typography from "@components/Typography";
import { pageTitleDesc } from "content";
import OrderSummary from "@components/OrderSummary";
import Navbar from "@components/Navbar.astro";
---

<Layout title={pageTitleDesc.cart.title} description={pageTitleDesc.cart.description}>
  <Navbar />
  <main class="bg-white">
    <div class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
      <Typography tag="h3" size="h3/bold" variant="primary" className=" mt-8 tracking-tight">
        Shopping Cart
      </Typography>
      <div class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16">
        <OrderSummary client:load />
      </div>
    </div>
  </main>
</Layout>