---
import Typography from "@components/Typography";
import Layout from "@layouts/Layout.astro";
import RequestTokenForm from "@components/PasswordReset/RequestTokenForm";
---

<Layout title="Forgot Password" description="Forgot Password">
  <main>
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img
          class="mx-auto h-10 w-auto"
          src="/images/curiosta_logo.png"
          alt="Curiosta"
        />
        <Typography
          tag="h2"
          size="h5/bold"
          variant="primary"
          className="mt-6 text-center  leading-9 tracking-tight"
        >
          Forgot Password
        </Typography>
      </div>

      <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <RequestTokenForm client:load />
      </div>
    </div>
  </main>
</Layout>
