---
import { listProducts } from "../api/listProducts";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

interface Iproduct {
  title: "string";
  thumbnail: "string";
  description: "string";
}

const res = await listProducts();
const products = res?.products;
---

<Layout title="home">
  <Navbar />
  <main>
    <div class="hero-section">
      <div class="content">
        <h2>Furniture designed for inspiring workplaces</h2>
        <p>
          We're changing the way furniture is made, by connecting customers to
          local makers
        </p>
        <a href="/products">Shop Now</a>
      </div>
    </div>
    <div class="product-collection">
      {
        products
          ?.slice(0, 3)
          .map((product: Iproduct) => (
            <Card
              imageSrc={product.thumbnail}
              title={product.title}
              shortDescription={product.description}
            />
          ))
      }
    </div>
    <div class="short-into-wrapper">
      <div class="content">
        <h2>A global platform for local making</h2>
        <p>
          Curiosta is an online marketplace that hosts independently designed
          furniture and connects its customers to local makers around the world.
          Rather than mass manufacturing and shipping worldwide, we're building
          a distributed and ethical supply chain through a global maker network.
        </p>
      </div>
    </div>
    <div class="work-wrapper"></div>
  </main>
  <Footer />
</Layout>

<style>
  .hero-section {
    background-image: linear-gradient(
        rgba(61, 60, 60, 0.6),
        rgba(59, 58, 58, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2016/09/01/15/18/industrial-1636390_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 700px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    width: 30%;
    margin-left: 10%;
    gap: 20px;
  }
  .content a {
    text-decoration: none;
    color: white;
    background: linear-gradient(
      45deg,
      rgb(76, 110, 245) 0%,
      rgb(21, 170, 191) 100%
    );
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .content p {
    font-size: 18px;
  }
  .product-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: auto;
    gap: 15px;
    padding: 25px 0 50px;
  }
  .short-into-wrapper {
    background-image: linear-gradient(
        rgba(61, 60, 60, 0.6),
        rgba(59, 58, 58, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2020/03/17/17/46/engineer-4941342_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
</style>
