---
import LoginForm from "@components/LoginForm";
import Typography from "@components/Typography";
import Layout from "@layouts/Layout.astro";
import { pageTitleDesc } from "content";
---

<Layout
  title={pageTitleDesc.login.title}
  description={pageTitleDesc.login.description}
>
  <main>
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img
          class="mx-auto h-10 w-auto p-1.5 sm:p-1"
          src="/images/curiosta_logo.png"
          alt="Curiosta"
        />
        <Typography
          tag="h2"
          size="h5/bold"
          variant="primary"
          className="mt-6 text-center  leading-9 tracking-tight"
        >
          Log in to your account
        </Typography>
      </div>

      <div class="mt-6 mx-auto sm:w-full sm:max-w-md w-11/12">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
          <LoginForm client:load />
        </div>
        <Typography
          size="body1/normal"
          variant={"secondary"}
          className="mt-8 text-center"
        >
          Don't have an account?
          <a
            href="/signup"
            class="font-semibold leading-6 text-app-primary-600 hover:text-app-primary-500"
            >Sign up here</a
          >
        </Typography>
      </div>
    </div>
  </main>
</Layout>
