---
import Typography from "@components/Typography";
import Layout from "@layouts/Layout.astro";
import PasswordResetForm from "@components/PasswordReset";

const token = Astro.url.searchParams.get("token");
const email = Astro.url.searchParams.get("email");
---

<Layout title="Password Reset" description="password reset">
  <main>
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img
          class="mx-auto h-10 w-auto p-1.5 sm:p-1"
          src="/images/curiosta_logo.png"
          alt="Curiosta"
        />
        <Typography
          tag="h2"
          size="h5/bold"
          variant="primary"
          className="mt-6 text-center  leading-9 tracking-tight"
        >
          Create new password
        </Typography>
      </div>

      <div class="mt-6 mx-auto sm:w-full sm:max-w-md w-11/12">
        <PasswordResetForm email={email} token={token} client:load />
      </div>
    </div>
  </main>
</Layout>
