---
import SignupForm from "../components/SignupForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="creat account" description="create account">
  <main>
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img
          class="mx-auto h-10 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt="Your Company"
        />
        <h2
          class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Create new account
        </h2>
      </div>

      <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
          <SignupForm client:load />
        </div>
      </div>
    </div>
  </main>
</Layout>
