---
export interface Props {
  title: string;
  shortDescription: string;
  imageSrc: string;
}
const { imageSrc, title, shortDescription } = Astro.props;
---

<div class="card">
  <div class="image-wrapper">
    <img src={imageSrc} alt={title} />
  </div>
  <div class="card-content">
    <h3>{title}</h3>
    <p>{shortDescription}</p>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }
  .image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-content {
    text-align: center;
  }
</style>
