---
const fotterList = [
  {
    id: 1,
    title: "About",
    content: ["features", "pricing", "support", "form"],
  },
  {
    id: 2,
    title: "Contact",
    content: ["features", "pricing", "support", "form"],
  },
  {
    id: 3,
    title: "Terms of Use",
    content: ["features", "pricing", "support", "form"],
  },
];
---

<footer>
  <div class="footer-wrapper">
    <div class="left-side-wrapper">
      <div class="logo">
        <h3>Curiosta logo</h3>
        <p>We make what you want</p>
      </div>
    </div>
    <div class="right-side-wrapper">
      {
        fotterList.map((list) => (
          <div class="footer-nav">
            <h4 class="fotter-title">{list.title}</h4>
            <ul>
              {list.content.map((val) => (
                <li>
                  <a href={`/${val}`}>{val}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
  <p class="copy-right">© 2023 Curiosta. All rights reserved.</p>
</footer>

<style>
  footer {
    background: #f8f9fa;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    padding: 20px;
  }
  .right-side-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .footer-nav ul {
    margin-top: 5px;
  }
  .footer-nav li {
    list-style: none;
  }
  .footer-nav li a {
    text-decoration: none;
    color: lightslategray;
    text-transform: capitalize;
  }
  footer .copy-right {
    border-top: 1px solid #c2bebe;
    text-align: center;
    padding: 15px 0;
  }
</style>
