<header>
  <div class="logo">
    <h3>Curiosta logo</h3>
  </div>
  <nav>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/workspaces">workspaces</a></li>
      <li><a href="/openmaking">open Making</a></li>
    </ul>
    <div class="right-nav-wrapper">
      <a href="/join">Join as a maker</a>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  .logo {
    width: 150px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
</style>
