.address-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.address-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
