---
import { getProduct } from "@api/product/getProduct";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import ProductImage from "@components/ProductImage";
import Layout from "@layouts/Layout.astro";
import ProductInfo from "@components/ProductInfo";
import { signal } from "@preact/signals";

const productId = Astro.params.id;
if (!productId) {
  return (window.location = "/404");
}
const { product } = await getProduct(productId);

export const checkoutOpen = signal<boolean>(false);
---

<Layout
  title={product.title ? product.title : "Product not found"}
  description="Product details"
>
  <Navbar />
  <main class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <ProductImage
          productImages={product.images}
          productTitle={product.title}
          client:load
        />

        <!-- Product info -->
        {
          productId ? (
            <ProductInfo product={product} client:load />
          ) : (
            "No product found"
          )
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
