---
import { getProduct } from "../../api/getProduct";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import ProductImage from "../../components/ProductImage";
import Layout from "../../layouts/Layout.astro";
import ProductInfo from "../../components/ProductInfo";

const productId = Astro.params.id;
const { product } = productId ? await getProduct(productId) : null;
// console.log(product);
---

<Layout
  title={product ? product.title : "Product not found"}
  description="Product details"
>
  <Navbar />
  <main class="bg-white">
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <ProductImage productImages={product.images} client:load />

        <!-- Product info -->
        {
          productId ? (
            <ProductInfo productId={productId} product={product} client:load />
          ) : (
            "No product found"
          )
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
