---
import type { Product } from "@api/product";
import { categoriesList } from "@api/product/categoriesList";
import { listProducts } from "@api/product/listProducts";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Products from "@components/Products";
import Layout from "@layouts/Layout.astro";

const categoryRes = await categoriesList();
const categories = categoryRes?.product_categories;
---

<Layout
  title="Products"
  description="Curiosta - A global platform for local making"
>
  <Navbar />
  <main class="bg-white">
    <Products categories={categories} client:load />
  </main>
  <Footer />
</Layout>
