---
import { listProducts } from "@api/product/listProducts";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import ProductSection from "@section/ProductSection";

const res = await listProducts();
const products = res?.products;
---

<Layout
  title="Products"
  description="Curiosta - A global platform for local making"
>
  <Navbar />
  <main class="bg-white">
    <ProductSection products={products} page={"Productpage"} />
  </main>
  <Footer />
</Layout>
