---
import Layout from "./Layout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import OpenMakingNav from "@components/OpenMakingNav";
import Typography from "@components/Typography";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Navbar />
  <OpenMakingNav client:load />
  <header class="py-8 px-4 text-center">
    <div class="w-full">
      <Typography tag="h1" size="h1/semi-bold" className="break-words">
        {frontmatter.title}
      </Typography>
    </div>
  </header>
  <main class="pr py-8 mx-auto w-full lg:max-w-[80%] px-6 lg:px-8">
    <article class="prose">
      <slot />
    </article>
  </main>
  <Footer />
</Layout>
